<%= form_for @team do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :judge_identifier %><br />
    <%= f.text_field :judge_identifier %>
  </p>
  <p><%= f.submit %></p>
<% end %>
