<%= nested_form_for @contest do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>

  <h3>Problems</h3>
  <%= f.fields_for :problems do |problem_form| %>
    <p>
      <%= problem_form.label :number %><br />
      <%= problem_form.text_field :number %><br />

      <%= problem_form.label :judge_url, "Judge URL" %><br />
      <%= problem_form.text_area :judge_url %><br />
      
      
      <%= problem_form.link_to_remove "Remove this problem" %>
    </p>
  <% end %>
  <p><%= f.link_to_add "Add another problem", :problems %></p>

  
  <h3>Teams</h3>
  <%= f.fields_for :teams do |team_form| %>
    <p>
      <%= team_form.label :username %><br />
      <%= team_form.text_field :username %>
      <%= team_form.link_to_remove "Remove this team" %>
    </p>
  <% end %>
  <p><%= f.link_to_add "Add another team", :teams %></p>
  
  <p><%= f.submit %></p>
<% end %>
