<% title "Contests" %>

<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>
  <% for contest in @contests %>
    <tr>
      <td><%= link_to contest.name, contest %></td>
      <td><%= l contest.start_date, :format => :long %></td>
      <td><%= l contest.end_date, :format => :long %></td>
      <td><%= contest_status(contest) %></td>
      
      <% if logged_in? %>
          <td><%= link_to "Edit", edit_contest_path(contest) %></td>
          <td><%= link_to "Destroy", contest, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Contest", new_contest_path %></p>

<p>
  <h2>Useful links and files</h2>
  <h3>Contests</h3>
  <ul>
    <li><%= link_to "COCI", "http://hsin.hr/coci/" %></li>
  </ul>
  <h3>Books</h3>
  <ul>
    <li><%= link_to "Introduction to Algorithms", "http://s3.amazonaws.com/andmej/cormen.pdf" %></li>
    <li><%= link_to "Introduction to Algorithms (Instructor's manual)", "http://s3.amazonaws.com/andmej/cormen_instructor_manual.pdf" %></li>
    <li><%= link_to "The Algorithm Design Manual", "http://www.cs.sysu.edu.cn/~lxm/DSA/textbook/Skiena.-.TheAlgorithmDesignManual.pdf" %></li>
    <li><%= link_to "Programming Challenges", "http://s3.amazonaws.com/andmej/programming-challenges.pdf" %></li>
  </ul>
</p>