<% title "Contest: #{@contest.name}" %>

<div>
  <span><b>Duration:</b> <%= format_time(@contest.duration) %></span>
  <span><b>Time left:</b> <%= format_time_left(@contest) %></span>
</div>

<p>
  <strong>Start Date:</strong>
  <%= l @contest.start_date, :format => :long %>
</p>
<p>
  <strong>End Date:</strong>
  <%= l @contest.end_date, :format => :long %>
</p>

<div>
  <table border="1">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <% @contest.problems.each_with_index do |problem, i| %>
        <th>
          <% if @contest.running? or @contest.finished? %>
            <%= link_to "#{@contest.letter_for_problem(problem)} - #{problem.number}", problem.judge_url %>
          <% else %>
            <%= @contest.letter_for_problem(problem) %>
          <% end %>
        </th>
      <% end %>
      <th>Solved</th>
      <th>Penalty</th>
    </tr>
    
    <% @contest.teams_sorted_by_score.each_with_index do |team, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= team.username %></td>
        <% @contest.problems.each do |problem| %>
          <td class="<%= class_for_problem(team, problem) %>">
            <%= format_tries(team, problem) %>/<%= format_time_of_first_solution(@contest.time_of_first_solution(team, problem)) %>
          </td>
        <% end %>
        <td><%= @contest.number_of_solved_problems(team) %></td>
        <td><%= @contest.total_penalty(team) %></td>
      </tr>
    <% end %>
  </table>
</div>

<h3>Last 10 submissions</h3>

<%= render "submissions/submissions" %>

<p>
  <%= link_to "View all submissions (#{@contest.submissions.count})", contest_submissions_path(@contest) %>
</p>

<p>
  <%= link_to "Edit", edit_contest_path(@contest) %> |
  <%= link_to "Destroy", @contest, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", contests_path %>
</p>
