<%= form_for @problem do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </p>
  <p>
    <%= f.label :judge_url %><br />
    <%= f.text_field :judge_url %>
  </p>
  <p><%= f.submit %></p>
<% end %>
