<% title "Problem" %>

<p>
  <strong>Number:</strong>
  <%= @problem.number %>
</p>
<p>
  <strong>Judge Url:</strong>
  <%= @problem.judge_url %>
</p>

<p>
  <%= link_to "Edit", edit_problem_path(@problem) %> |
  <%= link_to "Destroy", @problem, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", problems_path %>
</p>
